// https://cdn.shopify.com/s/files/1/0013/0623/0833/products/3728280796_1284889927_1024x1024@2x.jpg?v=1556893129
$deafult-card-color: #aaaaaa;
$back-color: #700;
$explodingKitten-card-color: black;
$attack-card-color: orange;
$defuse-card-color: #94bc3f;
$nope-card-color: #d92419;
$seeTheFuture-card-color: #c82372;
$skip-card-color: #6496bb;
$favor-card-color: black;
$shuffle-card-color: #7c6f4d;
$snap-color: #2cb3425e;

//html {
//  font-family: helvetica, sans-serif;
//  //font-weight: bold;
//}

@mixin color($c) {
  border: 3px $c solid;
  color: $c;
}

@mixin image($file) {
  background-image: url("/images/#{$file}");
    background-size: 80%;
    background-repeat: no-repeat; 
	  background-position: center;
}

card {
  //$color: $deafult-card-color;
  display: inline-block;
  @include color($deafult-card-color);
  border-radius: 10px;
  width: 150px;
  height: 210px;
  padding: 5px;
  position: absolute;
  text-align: center;
  background-color: #fff;
  margin: 5px;
  z-index: 3;
  
  &.hidden{
    display: none;
  }

  &.vis_hidden{
    visibility: hidden;
  }

  &.relative{
    position: relative;
  }

  &.ExplodingKitten {
    @include color(lighten($explodingKitten-card-color,25%));
    background-color: $explodingKitten-card-color;
    color: white;
  }

  &.Attack {
    @include color($attack-card-color);
  }

  &.Defuse {
    @include color($defuse-card-color);
  }

  &.Nope {
    @include color($nope-card-color);
  }

  &.SeeTheFuture {
    @include color($seeTheFuture-card-color);
  }
  
  &.Skip {
    @include color($skip-card-color);
  }
  
  &.Favor {
    @include color($favor-card-color);
  }
  
  &.Shuffle {
    @include color($shuffle-card-color);
  }

  &.Back {
    @include color($back-color);
    background-color: #900;
    @include image("BackLogo.svg");
  }

  &.Snap {
    @include color($snap-color);
    background-color: lighten($snap-color, 30%);
  }

  &.Cattermelon{
    @include image("cattermelon.png");
  }

  &.TacoCat{
    @include image("tacocat.png");
  }
}
