$deck-top: 0;
$deck-left: 0;

.deck{
    position: absolute;
    top: $deck-top;
    left: $deck-left;
    :nth-child(1){
        top: 10px;
    }
    :nth-child(2){
        top: 5px;
    }
}

.hand{
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    height: 230px;
    width: 1395px;
    white-space: nowrap;
    overflow: visible;
    // overflow-x: auto;
    // overflow-y: visible;
}

#draggingCards {
    overflow: visible;
    position: absolute;
    bottom: 0;
}

#draggingContainer {
    overflow: visible;
    position: absolute;
    bottom: 0;
}

.stack{
    border: 3px dashed #fff;
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 235px;
    overflow: visible;
    z-index: 0;
    padding: 0;
}

.stackHand{
    border: 3px dashed #0f0;
    position: absolute;
    top: 150px;
    right: 10px;
    width: 175px;
    height: 235px;
    overflow: visible;
    z-index: 0;
    padding: 0;
}

#putMultiple{
    border-radius: 50%;
    background: #080;
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #fff;
    border: 0;
    box-shadow: -5px -5px 10px 0 #222;
    position: absolute;
    outline: none;
    top: 125px;
    right: 170px;
    z-index: 3000;
}

.stackHandInfo{
    border-radius: 50%;
    // background: #080;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #fff;
    border: 0;
    box-shadow: 5px -5px 10px 0 #222;
    text-align: center;
    position: absolute;
    outline: none;
    top: 375px;
    right: 170px;
    z-index: 3000;

    &.error{
        background: #800;
    }

    &.correct{
        background: #0c0;
    }
}