$deck-top: 0;
$deck-left: 0;

.deck{
    position: absolute;
    top: $deck-top;
    left: $deck-left;
    :nth-child(1){
        top: 10px;
    }
    :nth-child(2){
        top: 5px;
    }
}

#hand{
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    height: 230px;
    min-width: 120vw;
    white-space: nowrap;
    overflow: visible;
    // overflow-x: auto;
    // overflow-y: visible;
}

#draggingCards {
    overflow: visible;
    position: absolute;
    bottom: 0;
}

#draggingContainer {
    overflow: visible;
    position: absolute;
    bottom: 0;
}

.discardPile{
    border: 3px dashed #fff;
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 235px;
    overflow: visible;
    z-index: 0;
    padding: 0;

    &.highlight {
        &::after {
            content: "";
            display: inline-block;
            border: 3px dashed #0a0;
            width: 170px;
            height: 230px;
            padding: 0;
        }
    }
}

.stackHand{
    border: 3px dashed #0f0;
    position: absolute;
    top: 150px;
    right: 10px;
    width: 175px;
    height: 235px;
    overflow: visible;
    z-index: 0;
    padding: 0;
}

#putMultiple{
    border-radius: 50%;
    background: #080;
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #fff;
    border: 0;
    box-shadow: -5px -5px 10px 0 #222;
    position: absolute;
    outline: none;
    top: 125px;
    right: 170px;
    z-index: 3000;
}

.stackHandInfo{
    border-radius: 50%;
    // background: #080;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #fff;
    border: 0;
    box-shadow: 5px -5px 10px 0 #222;
    text-align: center;
    position: absolute;
    outline: none;
    top: 375px;
    right: 170px;
    z-index: 3000;

    &.error{
        background: #800;
    }

    &.correct{
        background: #0c0;
    }
}

.scrollRect {
    position: relative;
    height: 10px;
    //max-width: 25vw;
    width: 25000px;
    background: #ffffff50;
    &#hand_scroll{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.vis_hidden{
    visibility: hidden;
}

.hidden{
    display: none;
}



.darken{
    filter: brightness(70%) blur(5px);
}

#stf_{
    &card1{
        top: 75px;
        left: 35vw;
        z-index: 302;
    }

    &card2{
        top: 50px;
        left: 45vw;
        z-index: 301;
    }

    &card3{
        top: 25px;
        left: 55vw;
        z-index: 300;
    }

    &ok {
        position: relative;
        border: 3px solid #29c031;
        box-shadow: 0 5px 0 0px #209b20;
        background: #3fce2c;
        color: #fff;
        padding: 10px 30px;
        font-size: 25px;
        border-radius: 10px;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        top: -25px;
        outline: none;
    }
    
    &ok:active {
        box-shadow: 0 2px 0 0px #349b20;
        margin-top: 23px;
    }
}

#defused_{
    &modal{
        width: 100vw;
        height: 100vh;
        z-index: 300;
        &*{
            z-index: 300;
        }
    }

    &cards{
        position: relative;
        padding-bottom: 20px;
        height: 230px;
        min-width: 120vw;
        white-space: nowrap;
        overflow: visible;
    }

    &ok {
        position: relative;
        border: 3px solid #29c031;
        box-shadow: 0 5px 0 0px #209b20;
        background: #3fce2c;
        color: #fff;
        padding: 10px 30px;
        font-size: 25px;
        border-radius: 10px;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        top: -25px;
        outline: none;
    }
    
    &ok:active {
        box-shadow: 0 2px 0 0px #349b20;
        margin-top: 23px;
    }

    &ok:disabled {
        border: 3px solid lighten(desaturate($color: #29c031, $amount: 100),10);
        box-shadow: 0 5px 0 0px lighten(desaturate($color: #209b20, $amount: 100),10);
        background: lighten(desaturate($color: #3fce2c, $amount: 100),20);
    }

    &_scroll{
        position: absolute;
        z-index: 30;
        left: 0;
    }
}

#ek_position_defused {
    position: absolute;
    margin-top: 12.5px;
    height: 210px; // Card height
    width: 4px;
    background: #14141469;
    border-radius: 1.5px;
    left: 176px - 4px/2;
}

@import "game/siderbar.scss";

#people_{
    &modal{
        width: 100vw;
        height: 100vh;
        z-index: 300;
        position: absolute;
        top: 0;
        left: 0;

        &*{
            z-index: 300;
        }

        &_content {
            background: white;
            color: black;
            width: calc(40vw - 10px*2);
            padding: 7px;
            height: calc(80vh - 10px*2);
            border: 3px solid black;
            border-radius: 10px;
            margin: auto;
            margin-top: (100vh - 80vh)/2;

            h2{
                display: inline;
            }

            #leave{
                border: 1px solid #000;
                background: #c95959;
                float: right;
            }
        }
    }

    &list {
        height: 90%;
    }

    &ok {
        border: 1px solid #000;
        background: #59c959;
        padding: 5px 10px;
    }
}